<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>518792808831-ls1j4fm82vb38ipi6v87cc6urt16pdru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518792808831-ls1j4fm82vb38ipi6v87cc6urt16pdru</string>
	<key>API_KEY</key>
	<string>AIzaSyDFPUuIE_U0RgKqJNPVnqtK0-i_wtixNjg</string>
	<key>GCM_SENDER_ID</key>
	<string>518792808831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.camdendev.Ledgit</string>
	<key>PROJECT_ID</key>
	<string>ledgit-39443</string>
	<key>STORAGE_BUCKET</key>
	<string>ledgit-39443.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:518792808831:ios:be70c03b1e180d46</string>
	<key>DATABASE_URL</key>
	<string>https://ledgit-39443.firebaseio.com</string>
</dict>
</plist>